.Footer {
  width: 100vw;
  background-color: rgb(97, 98, 101);
}

.contents {
  margin: 0% 15%;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
}

.contents p {
  margin: 5px;
  font-size: 0.9em;
  color: white;
}

.terms :hover {
  color: #EDFF70;
}

@media all and (max-width: 768px) {
  .contents {
    margin: 0% 5%;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 0.8em;
  } 
  .contents p {
    margin: 5px;
    font-size: 0.9em;
    color: white;
  }
}
