.mockup {
  width: 35%;
}
.mockup-mobile {
  display: none;
}

.home__main {
  font-size: 1em;
  padding: 10% 18%;
}

.page {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.page2 {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 3%;
}

.heading2 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 3%;
}


.sub-heading {
  font-size: 1.6em;
  color:#30B776;
  margin-bottom: 1%;
}

.main-heading {
  font-size: 2.6em;
  font-weight: 700;
}


.floor {
  display: flex;
  flex-direction: row;
  
}


.normal-text {
  color: black;
}

.reserv {
  width: 100px;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.texts {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 8%;
}

.text-top {
  font-size: 1.6em;
  font-weight: bolder;
  margin-bottom: 5%;
}

.bold {
  font-size: 1.3em;
  font-weight: bolder;
  color: #30B776;
}

.items {
  display: flex;
  flex-direction: row;
  margin-bottom: 10%;
  justify-content: space-between;
}

.item {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-icon {
  width: 50%;
}

.function {
  margin-bottom: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-top2 {
  font-size: 2.6em;
  margin-bottom: 10%;
  font-weight: 700;
}

.title {
  margin-top: 10%;
  margin-bottom: 5%;
  font-weight: 600;
  font-size: 1.5em;
}

.content-text {
  width: 60%;
  background-color: #f9f9fB;
  padding: 5%;
  border-radius: 40px;
  box-shadow: 10px 0px 20px rgba(0, 0, 0, 0.2);
}

.line-top {
  margin-bottom: 3%;
}

.line {
  font-size: 1.1em;
}

.square {
  width: 300%;
  height: 110%;
  color: #123459;
}

@media all and (max-width: 768px) {
  .mockup-web {
    display: none;
  } 

  .mockup-mobile {
    display: block;
  }

  .home__main {
    font-size: 9px;
    padding: 13% 7%;
  }

  .floor {
    flex-direction: column;
  }

  .texts {
    width: 100%;
    align-self: center;
  }
  .content {
    margin: 0 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .content-text {
    width: 100%;
    justify-content: center;
    border-radius: 30px;
    box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.2);
  }

  .mockup {
    width: 100%;
  }
  .text-top {
    font-size: 1.4em;
    font-weight: bolder;
    margin-bottom: 5%;
  }
}