.top__background {
  width: 100vw;
  height: 100vmin;
  background: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.background__img {
  width: 100vw;
  height: 100vmin;
  opacity: 0.5;
}

.top__contents {
  font-size: 1em;
  position: absolute;
  top: 20%;
  right: 18%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.sub-text {
  font-size: 1.5em;
  font-weight: normal;
  margin-bottom: 20px;
}
.main-text {
  font-size: 3em;
  font-weight: 400;
}

.main-text-goote {
  font-size: 9em;
  font-weight: 500;
}

.emphasize {
  color: #edff70;
}

@media all and (max-width: 768px) {
  .top__contents {
    font-size: 12px;
    top: 15%;
    right: 6%;
  }

  .sub-text {
    font-size: 1.3em;
    font-weight: normal;
    margin-bottom: 5px;
  }

  .main-text {
    font-size: 2.1em;
    font-weight: 400;
  }

  .main-text-goote {
    font-size: 6em;
    font-weight: 500;
  }
}