.square-background {
  background-color: #30C27C;
  margin: 0%;
}

.banner {
  margin: 5px;
  height: 120px;
}


@media all and (max-width: 768px) {
  .banner {
    margin: 2px;
    height: 90px;
  }
}
